html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    background-color: #F8FAFC;
}

.container {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #F8FAFC;
}

.meeting-container {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #F8FAFC;
}

.remote-video-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.remote-video-container-child {
    position: relative;
    width: 50%;
    box-sizing: border-box;    
    border: 1px solid #E2E8F0;
    background-color: #FFFFFF;
}

.width-100 {
    width: 100%;
}

.video-stats-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 12px;
    padding-left: 3px;
    color: #EF4444;
    z-index: 1;

    &>span {
        display: block;
    }
}

.bottom-tab {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;

    & > button {
        margin: 0 10px;
    }

    & > span {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .remote-video-container-child {
        width: 100%;
    }
}